<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="local service builds" value="FastProjector.Service/bin/Debug/" />
        <add key="local shared builds" value="FastProjector.Shared/bin/Debug/" />
        <add key="local SCH builds" value="SourceCreationHelper/bin/Debug/" />
        <add key="local builds" value="FastProjector/bin/Debug/" />
    </packageSources>
</configuration>